h1{
	color: #F0B429
}
h2{
	color:  #F0B429
}
li{
	color:	#ffffff
}
h3{
	color: #F2B80D
}
p{
	color:	#ffffff
}
body{
	background-color:#008FB3
}
h1{
	font-size: 80px
}
body{
	margin: 1in
}
h1{
	padding: 0.5in
}
h1{
	line-height: 1.5cm
}
p{word-spacing: 2mm

}
a{
	font-size: 12pt
